<h2>Reset Password</h2>
        <% if (error) { %>
            <p class="error"><%= error %></p>
        <% } %>

    <form action="/totp/update-password" method="POST">
        <input type="hidden" name="token" value="<%= token %>">
        
        <label for="password">New Password</label>
        <input type="password" name="password" required>

        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" required>

        <button type="submit">Reset Password</button>
    </form>